body.bg-dark {
  background-color: #121212 !important;
  color: #f1f1f1;
}

.card,
.modal-content,
.dropdown-menu {
  background-color: #1f1f1f !important;
  color: #f1f1f1 !important;
  border: none;
}
