.sidebar {
  width: 250px;
  transition: width 0.3s ease-in-out;
  border-right: 1px solid #ddd;
}

/* Common NavLink Styling */
.nav-link {
  padding: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: red !important;
  color: white !important;
}

.nav-link.active {
  background-color: red !important;
  color: white !important;
}

/* Mobile bottom nav active icon */
.fixed-bottom .nav-link.active i {
  color: red !important;
}

/* Responsive hide */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
